# Base de datos
DATABASE_URL=postgresql://localhost/two_brothers_development

# Google OAuth
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret

# Frontend URL (para CORS y redirect OAuth)
FRONTEND_URL=http://localhost:5173

# Rails
RAILS_ENV=development
SECRET_KEY_BASE=

# Puerto
PORT=4000

# Dirección del local (origen de los deliveries)
STORE_ADDRESS=Washington 133, Dolores, Buenos Aires, Argentina
STORE_LATITUDE=-36.3133
STORE_LONGITUDE=-57.6837
